.mat-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #132584;
  color: white;
  text-align: center;
}
p {
  margin: auto;
  width: 50%;
  font-size: 12px;
  padding: 10px;
}
