mat-horizontal-stepper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

mat-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #f9f9f9;
  flex-grow: 1;
}

button {
  margin-top: 20px;
  align-self: flex-start;
}

.spacer {
  margin-top: 20px;
}

.submit-button-container {
  margin-top: 30px;
  text-align: center;
}

.submit-button-container button {
  margin-top: 20px;
  display: inline-block;
}
