/* Review Container */
.review-container {
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 8px;     
  margin-top: 20px;       
  background-color: #f9f9f9; 
}


.review-details {
  margin-top: 10px; 
}

.review-details div {
  margin-bottom: 10px; 
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}


.spacer {
  margin-top: 20px; 
}


.submit-button-container {
  margin-top: 30px; 
  text-align: center; 
}

.submit-button-container button {
  margin-top: 20px; 
  display: inline-block; 
}
