<div *ngIf="products.length > 0; else noProducts">
    <!-- Product list container with horizontal scrolling -->
    <div class="product-list-container">
      <div *ngFor="let product of products" class="product-card">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price | currency }}</p>
          <button mat-raised-button color="primary" (click)="onAddToCart(product)">
            Add to Cart
          </button>
          <button mat-raised-button color="accent" (click)="onViewProductDetails(product)">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
  